// Fonts
$headingFont: 'Abril Fatface', cursive;
$menuBodyFont: 'Montserrat', sans-serif; 


// Colors
$primaryColor: #e4a436;
$secondaryColor: #709b6b;
$tertiaryColor: #345231;
$quaternaryColor: #1f1f1f;
$quinaryColor: #f6f6f6;